<h1>OrderMailer#order_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/order_mailer/order_confirmation.html.erb
</p>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>