 <li class="list-group-item">Rating: <%= review.rating %></li>
 <li class="list-group-item">Comment: <%= review.description %></li>

 <!-- We need to delete with a nested route. Thus, using [@movie, review] -->

<hr>